node_modules
dist
.DS_Store
stats.html
*.env
.env.*
logs
.elasticbeanstalk/logs/

# Elastic Beanstalk Files
.elasticbeanstalk/app_versions
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

cam
docs
hi-link
